:root {
    font-family: "Mulish", sans-serif;
}

body {
    margin: 2% 0;
}

/* head section */

.title {
    font-weight: 500;
    font-size: 16pt;
}

.dummy-title-box {
    width: 200px;
}

.eyes-box {
    max-width: 450px;
}

.title-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 15vh;
}

.bio {
    font-weight: 200;
    font-size: 12pt;
    text-align: justify;
    margin: 1rem auto 0 auto;
}

/* doodles section */

.doodle {
    display: flex;
    justify-content: center;
}

.doodle-dummy-box {
    width: 720px;
}

/* works section */

.divider {
    font-weight: 200;
    font-size: 12pt;
    font-style: italic;
    text-align: start;
    margin: 10vh 0;
}

.nido-container {
    margin: 5rem 0;
    display: flex;
    justify-content: space-around;
}

.nido-box {
    max-width: 600px;
    display: inline-block;
}

.description {
    font-weight: 200;
    font-size: 11pt;
    text-align: center;
}

.description-title {
    font-style: italic;
    font-weight: 700;
}

/* contacts section */

.contacts-title {
    font-weight: 700;
    font-style: italic;
}
.contacts {
    margin-top: 20vh;
    font-weight: 200;
    font-size: 14pt;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

