:root{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop{
    width: 100vw;
    height: 100vh;
    background-color: #f1f3ef;


    display: none;
    justify-content: space-around;
    align-items: center;

    user-select: none;
    -webkit-user-select: none;
}

.mobile{
    width: 100vw;
    height:100vh;
    background-color: #f1f3ef;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mobile-eyes-box{
    width: 80%;
    height: fit-content;
}

.mobile-eyes{
width: 100%;
height: 100%;
}


@media only screen and (orientation: landscape) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
}